{
  "plugins": [
    "minify-mangle-names",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "4.0"
      }
    }]
  ]
}