{
  "plugins": [
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "4.0"
      }
    }]
  ],
  "env": {
    "production": {
      "plugins": [
        "minify-mangle-names"
      ]
    }
  }
}